<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faza Ghani Irham</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src=""></script>
</head>

<body>
    <h1 class="mt-5">Halo, silakan masuk ke akunmu!</h1>
    <div class="container justify-content-center text-center p-5" style="max-width: 700px;">
        <form method="POST">
            {% csrf_token %}

            <div class="form-group ">
                <label class="text" for="username">Username </label>
                <br>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label class="text" for="password">Password </label>
                <br>
                <input class="text" type="password" name="password" id="password" required>
            </div>
            <p>{{error}}</p>

            <button id=login type="submit" class="btn">Login</button>
        </form>

    </div>
</body>

</html>