<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faza Ghani Irham</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src=""></script>
</head>
    
<body>
    <div class="container justify-content-center text-center p-5" style="max-width: 700px;">
        <h1 class = "text text-center" >Halo <b>{{user.username}}</b>! Anda berhasil masuk ke situs saya!</h1>
        <br>
        <div class = "text-center text">
            <br>
            <form method="POST" action="/logout/">
                {% csrf_token %}
                <button id = logout type ="submit" class = "btn">Logout</button> 
            </form>
        </div>


    </div>
</body>

</html>