@import url('https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap');

body {
    background-color: #ededed !important;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: #444444;
    color: white;
}